<p>application works!</p>

<div class="contaier">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>
</div>
<br />
<div class="container">
  <button class="btn btn-primary" [routerLink]="['/home']">Home</button>
  <hr />
  <button class="btn btn-success" [routerLink]="['/admin']">
    Admin
  </button>
</div>
<hr />

<div class="offset-md-1 col-md-5 text-default mb-2">Share</div>
<share-buttons
  [theme]="'circles-dark'"
  [include]="[
    'facebook',
    'twitter',
    'telegram',
    'messenger',
    'whatsapp',
    'email'
  ]"
  [url]="'https://google.com/'"
  [autoSetMeta]="false"
></share-buttons>
<br />
<hr />
<p>
  <ngb-alert type="danger">
    <strong>NgBootsrap Alert Warning!</strong> Better check yourself, you're not
    looking too good.
  </ngb-alert>
</p>
