<p>admin works!</p>

<div class="container">
  <button class="btn btn-primary" [routerLink]="['/home']">Home</button>
  <hr />
  <button class="btn btn-danger" [routerLink]="['/application']">
    Application
  </button>
</div>

<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Angular 8 Reactive Form Validation</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <mat-select formControlName="title">
              <mat-option value="Mr">Mr</mat-option>
              <mat-option value="Mrs" mat->Mrs</mat-option>
              <mat-option value="Missmat-">Miss</mat-option>
              <mat-option value="Ms">mat-Ms</mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f.title.errors">
              <mat-error *ngIf="f.title.errors.required"
                >Title is required</mat-error
              >
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field>
            <input
              matInput
              placeholder="firstName"
              formControlName="firstName"
            />
            <mat-error *ngIf="submitted && f.firstName.errors">
              <mat-error *ngIf="f.firstName.errors.required">
                First Name is required
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field>
            <input matInput placeholder="lastName" formControlName="lastName" />
            <mat-error *ngIf="submitted && f.lastName.errors">
              <mat-error *ngIf="f.lastName.errors.required">
                Last Name is required
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="submitted && f.email.errors">
            <mat-error *ngIf="f.email.errors.required"
              >Email is required</mat-error
            >
            <mat-error *ngIf="f.email.errors.email">
              Email must be a valid email address
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <div class="col">
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="password"
              formControlName="password"
            />
            <mat-error *ngIf="submitted && f.password.errors">
              <mat-error *ngIf="f.password.errors.required"
                >Password is required</mat-error
              >
              <mat-error *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            />
            <mat-error *ngIf="submitted && f.confirmPassword.errors">
              <mat-error *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </mat-error>
              <mat-error *ngIf="f.confirmPassword.errors.mustMatch">
                Passwords must match
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-checkbox formControlName="acceptTerms"
          >Accept Terms & Conditions</mat-checkbox
        >
        <mat-error *ngIf="submitted && f.acceptTerms.errors">
          Accept Ts & Cs is required
        </mat-error>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
