<p>home works!</p>

<div class="container">
  <button class="btn btn-danger" [routerLink]="['/application']">
    Application
  </button>
  <hr />
  <button class="btn btn-success" [routerLink]="['/admin']">
    Admin
  </button>
</div>
<ngx-spinner
  bdOpacity="0.9"
  bdColor="rgba(51,51,51,0.47)"
  size="default"
  color="#fff"
  type="ball-spin-clockwise"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
